<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996972904195-ufimuvfcaoevonllsns5ralkdp80agqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996972904195-ufimuvfcaoevonllsns5ralkdp80agqg</string>
	<key>API_KEY</key>
	<string>AIzaSyAOTPwrUGVBcZz0LilpulNFvwk8Y3tSy9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>996972904195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erin.app</string>
	<key>PROJECT_ID</key>
	<string>erinauth</string>
	<key>STORAGE_BUCKET</key>
	<string>erinauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996972904195:ios:12dbd1decc5c74fda5f336</string>
	<key>DATABASE_URL</key>
	<string>https://erinauth.firebaseio.com</string>
</dict>
</plist>