<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>heartlandReferrals.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DC5B68F4CFF0236DCAB04A965C5D6C5339876481</string>
				<key>dateExpires</key>
				<string>28/04/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>A46D7229LK.com.heartlandReferrals.app</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>A46D7229LK</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>heartlandReferrals.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7ca8a515-6127-4679-933e-e975433706a7</string>
				<key>dateExpires</key>
				<string>28/04/23</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.heartlandReferrals.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>A46D7229LK</string>
				<key>name</key>
				<string>ERIN Technologies, Inc.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.1</string>
		</dict>
	</array>
</dict>
</plist>
